.contact {
    min-height: 30em;
    &-information {
        position: relative;
        top: 10rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
}