.warning {
    text-align: center;
    border: 1px solid white;
    max-width: 180px;
    margin: auto;
    position: relative;
    bottom: 2rem;
    background-color: navy;
    color: white;
    padding: 0 10px;
    &-text {
        font-weight: 600;
      
    }
}