<app-header></app-header>
<div class="container">
  <app-pets-search
    (searchPetByNumber)="searchPetByNumber($event)"
    (searchPetByString)="searchPetByString($event)"
    [petsSearchResult]="petsSearchResult"
  ></app-pets-search>
  <app-pets-list
    [pets]="pets"
    (deletePetsById)="deletePetsById($event)"
    (modifyPetsById)="modifyPetsById($event)"
  ></app-pets-list>
  <app-pets-modify
    *ngIf="showModifyPets"
    [pets]="pets"
    [petToModify]="petToModify"
    (updatePet)="updatePet($event)"
  ></app-pets-modify>
</div>