.warning {
    text-align: center;
    border: 1px solid grey;
    padding: 1.5rem;
    max-width: 220px;
    margin: auto;
    position: relative;
    bottom: 2rem;
    background-color: #d6d6d6;
    &-text {
        font-weight: 600;
      
    }
}