<div class="container-form">
    <p class="container-title">Authentication</p>
    <form (ngSubmit)="handleSubmit(form, form.valid); form.reset()" #form="ngForm">
        <div class="container-information">
            <label>User </label>
            <input type="text" name="user" [ngModel]="" #user="ngModel" required>
            <p *ngIf="form.submitted && user.errors?.required && !error" class="container-information__error">* User is required</p>
        </div>
         <div class="container-information">
            <label>Password </label>
            <input type="password" name="password" [ngModel]="" #password="ngModel" required>
            <p *ngIf="form.submitted && password.errors?.required && !error" class="container-information__error">* Password is required</p>
        </div>
        <p *ngIf="error" class="container-information__error">
          {{ error }}
      </p>
        <button type="submit" class="button-submit">Submit</button>
    </form>
</div>
