.container {
  &-form {
    width: 25rem;
    margin: auto;
    bottom: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 40em;
  }
}
