.nav {
  height: 105px;
  border-bottom: 1px solid #045190;
  padding: 22px;
  a {
    color: white;
    margin: 0 16px;
    &.active {
      text-decoration: underline;
    }
  }
  &-title {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    span {
      font-family: "Satisfy", cursive;
      color: white;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  &-link {
    &__bottom-left {
      position: relative;
      bottom: 20px;
    }
    &__top-right {
      display: flex;
      justify-content: flex-end;
      position: relative;
      bottom: 14px;
    }
  }
}
