<div class="container-form">
    <form (ngSubmit)="handleSubmit(form, form.valid); form.reset()" #form="ngForm">
        <p class="container-section">Create a new Pet</p>
        <div class="container-information">
            <input type="text" name="petsName" [ngModel]="" #petsName="ngModel" placeholder="Name" required>
            <p *ngIf="form.submitted && petsName.errors?.required" class="container-information__error">* Name is required</p>
        </div>
         <div class="container-information">
            <select name="petsSpecies" [ngModel]="" #petsSpecies="ngModel"  required>
                <option *ngFor="let specie of species" > {{specie.name}}</option>
            </select>
        </div>
         <div class="container-information">
            <input type="text" name="petsBreed" [ngModel]="" #petsBreed="ngModel" placeholder="Breed" required>
            <p *ngIf="form.submitted && petsBreed.errors?.required" class="container-information__error">* Breed is required</p>
        </div>
         <div class="container-information">
            <input type="text" name="petsDateOfBirth" [ngModel]="" #petsDateOfBirth="ngModel" placeholder="Date of Birth" required>
            <p *ngIf="form.submitted && petsDateOfBirth.errors?.required" class="container-information__error">* Date of Birth is required</p>
        </div>
        <div class="container-information">
            <input type="number" name="petsMicrochipNumber" [ngModel]="" #petsMicrochipNumber="ngModel" placeholder="Microchip number" required>
            <p *ngIf="form.submitted && petsMicrochipNumber.errors?.required" class="container-information__error">* Microchip number is required</p>
        </div>
         <div class="container-information__textarea">
            <textarea type="text" name="petsObservations" [ngModel]="" #petsObservations="ngModel" rows="10" placeholder="Observations"></textarea>
        </div>
         <div class="container-information">
            <input type="text" name="ownersNif" [ngModel]="" #ownersNif="ngModel" placeholder="Owner's Nif" required>
            <p *ngIf="form.submitted && ownersNif.errors?.required" class="container-information__error">* Owner's Nif is required</p>
        </div>
         <div class="container-information">
            <input type="number" name="ownersMobileNumber" [ngModel]="" #ownersMobileNumber="ngModel" placeholder="Owner's Mobile Number" required>
            <p *ngIf="form.submitted && ownersMobileNumber.errors?.required" class="container-information__error">* Owner's Mobile Number is required</p>
        </div>
        <div class="container-buttons">
        <button type="submit" class="container-form__button">Submit</button>
        <button type="submit" class="container-form__button button-goBack" [routerLink]="'/home'">Cancel</button>
        </div>
    </form>
    <div *ngIf="petCreated && showFeedBack" class="popup">
        <p>{{petCreated[0].petsName}} with id {{petCreated[0].petsId}} correctly created!</p>
        <button class="button-warn" (click)="closeFeedBack()">Close</button>
    </div>
</div>