* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
  font-family: 'Mukta', sans-serif;
  margin: unset;
  letter-spacing: 1.3px;
  min-height: 100vh;
  margin: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(13,143,233,1) 100%);
}

button {
    letter-spacing: 1.1px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid grey;
    padding: 8px;
    margin: 10px;
    font-size: 12px;
}

li {
  list-style-type: none;
}

.button {
  margin: 3rem 0;
  &-submit {
      background-color: #f5b94b;    
  }
  &-cancel {
    background-color: #fc7159fa;
  }
  &-goBack {
    background-color: black !important;
    color: white;
  }
  &-search {
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 3px;
  }
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding: 3rem 0 3rem 0;
    overflow-x: auto;
  }
  
.table td, .table th {
    border: 1px solid rgba(221, 221, 221, 0.322);
    padding: 8px;
    text-align: center;
    width: 100px;
  }
  
.table tr:nth-child(even){background-color: #b4b4b4;}
.table tr:nth-child(odd){background-color: rgb(212, 211, 211);}
.table tr:hover {background-color: #a7a7a7;}
  
.table th {
    padding: 14px;
    background-color: #f19e64;
    color: white;
    max-width: 160px;
    width: 160px;
}

.container {
  padding: 1rem;
  min-height: 20em
}

input, select {
  width: 250px;
  border-radius: 3px;
  border: 1px solid #a9a7a7;
  padding: 5px;
  font-size: 14px;
  background-color: white;
  height: 40px;
  width: 270px;
}

.container {
  &-form {
    padding: 1rem 2rem;
    margin-top: 10px;
    border-radius: 3px;
    min-height: 60em;
    button {
      margin: 0;
      width: 270px;
      margin-top: 2px;
      background: rgb(169,14,14);
      height: 40px;
      font-size: 14px;
    }
  }
  &-buttons {
    display: flex;
    flex-direction: column;
}

  &-information {
    padding: 5px 0;
    &__textarea{
        display: flex;
        flex-direction: column;
        padding: 5px 0;
    }
    &__error {
        color: #fd5739;
        margin: 5px 0;     
    }
  }
  &-title {
    text-align: center;
    margin: unset;
    font-weight: 800;
    text-decoration: underline;
    padding-bottom: 14px;
  }
  &-section {
    font-weight: 600;
  }
}

