<div class="table">
<tr>
    <th>Pet Id</th>
    <th>Microchip</th>
    <th>Name</th>
    <th>Species</th>
    <th>Breed</th>
    <th>Date of Birth</th>
    <th>Observations</th>
    <th>Ower's Nif</th>
    <th>Owner's Mobile number</th>
    <th>Actions</th>
</tr>
<tr *ngFor="let pet of pets">
    <td>{{pet.petsId}}</td>
    <td>{{pet.petsMicrochipNumber}}</td>
    <td>{{pet.petsName}}</td>
    <td>{{pet.petsSpecies}}</td>
    <td>{{pet.petsBreed}}</td>
    <td>{{pet.petsDateOfBirth}}</td>
    <td>{{pet.petsObservations}}</td>
    <td>{{pet.ownersNif}}</td>
    <td>{{pet.ownersMobileNumber}}</td>
    <td><button (click)="deletePets(pet.petsId)" class="delete">Delete</button>
        <button (click)="modifyPets(pet.petsId)" class="modify">Modify</button></td>
</div>